.dropBox {
  height: 350px;
  background: url("/assets/chalkboard1.jpg");
  background-repeat: none;
  border: 3px solid #331a00;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 8px;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
}

#dropBox-single {
  width: 90%;
  margin: 10%;
  left: -23px;
}

#dropBox1-double {
  left: -12px;
  margin: 6%;
  width: 43%;
}

#dropBox2-double {
  left: 394px;
  margin: 6%;
  width: 43%;
}

#dropBox1-triple {
  left: -35px;
  margin: 5%;
  width: 30%;
}

#dropBox2-triple {
  left: 342px;
  margin: 5%;
  width: 30%;
}

#dropBox3-triple {
  left: 720px;
  margin: 5%;
  width: 30%;
}


// .wordMapBox {
//   display: inline-block;
//   // width: 200px;
//   border: 5px solid black;
//   position: relative;
// }

#proceedeMsg {
  width: 130px;
  height: 75px;
  float: right;
  border: 2px solid black;
  padding: 20px;
  vertical-align: middle;
  text-align: center;
  margin: 20px 75px 40px 20px;
  border-radius: 30px;
  background-color: #006600;
  &:hover {
    background-color: #0099ff;
  }
  a {
    font-size: 1.875em;
    color: black;
    display: table-cell;
    justify-content: center;
    &:hover {
      text-decoration: none;
    }
  }
}

.inBox {
  background-color: #a78db0;
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
  height: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
  display: inline-block;
  color: oldlace;
  font-family: 'Oswald', sans-serif;
  position: relative;
  font-size: 50px;
}


.draggable {
  // font-size: 3em;
  background-color: #006600;
  padding: 10px;
  // margin: 10px;
  border: 3px solid black;
  height: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
  display: inline-block;
  color: oldlace;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  font-size: 50px;

  z-index: 2;
  left: 0px;
  top: 0px;
}

.dragFootprint {
  position: relative;;
  z-index: 0;
  // left: -100px;
  font-size: 50px;
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  height: 100px;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  display: inline-block;

  // top: -120px;

}

.littleFeedbackWord {
  display: inline-block;
  font-size: 20px;
  padding: 2px;
  margin: 2px;
  color: white;
  border: 5px solid black;
  background-color: #00802b;
  border-radius: 10px;
}

#openingPrompt {
  background-color: #006600;
  border: 2px solid black;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 5px;
  margin: auto;
  max-width:50%;
  border-radius: 10px;
}
.boxHeader {
  background-color: #006600;
  font-size: 30px;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin: auto;
}

#boxHeader-single {
  width: 100%;
}

#boxHeader-double {
  width: 50%;
}

#boxHeader-triple {
  width: 33%;
}

#feedback {
  text-align: center;
}

.feedbackMsg {
  // background-color: #006600;
  font-size: 20px;
  margin-top: 25px;
  width: 250px;
  border-radius: 10px;
  border: 5px solid black;
  color: black;
  padding: 5px;
  background: #C0C0C0;
}

#message-single {
  margin: 25px auto 10px auto;
  display: block;
}

#message1 {
  display: inline-block;
  margin-right: 5%;
}

#message2 {
  display: inline-block;
}

#message1-triple {
  display: inline-block;
}

#message2-triple {
  display: inline-block;
  margin-left:7%;
}

#message3-triple {
  display: inline-block;
  margin-left:7%;
}


#submitContainer {
  background-color: #006600;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  margin: 10px 10px 20px 30px;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
  border: 3px solid black;
  float: right;
  &:hover {
    background-color: #008000;
  }

  a {
    margin: auto;
    color: white;
    font-size: 1.5em;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}


.boxContainer {
  background: beige;
  height: 450px;
  margin: 50px auto;
  border-radius: 20px;
  border: solid 1px #4d2600;
  position: relative;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
}

#boxContainer-single {
  width: 450px;
}

#boxContainer-double {
  width: 850px;
}

#boxContainer-triple {
  width: 1150px;
}

#problemContainer {
  margin: auto
}

#promptWrap {
  font-size: 1.5em;
}


#sentenceWrap {
  em {
      font-weight: bold;
  }
}

#wordBox {
  height: 250px;
  width: 70%;
  background: beige;
  border: solid 2px black;
  display: block;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 32px -5px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  color: black;
}


#allRight {
  width: 400px;
  height: 85px;
  background-color: #006600;
  margin: auto;
  font-variant: small-caps;
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#notRight {
  width: 550px;
  height: 85px;
  background: #C0C0C0;
  margin: auto;
  font-variant: small-caps;
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#dropBox3 {
  left: 900px;
}

#status-bar {
   margin: auto;
   width: 50%;
}


#status-bar ul {
   color: white;
}

#status-bar li {
  list-style-type: none;
  display: inline;
  color: white;
  padding-right: 5px;
  margin: 0px 20px;
}
