/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #333;
   overflow: hidden;
 }

 .navbar li {
   display: inline-block;
   float: left;
   font-family: "Times New Roman";
 }

 .navbar li a {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   font-size: 16px;
   text-decoration: none;
 }

 .navbar li a:hover {
   background-color: #808080;
 }

 #logoutButton {
   font-family: "Times New Roman";
   font-size: 16px;
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   background: none;
   border: none;
 }

 #logoutButton:hover {
   background-color: #808080;
 }
