/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 //= require_self
  //= require_tree .

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Unica One', cursive;
  // font-family: 'Ovo', serif;
  font-family: 'Open Sans', sans-serif;

}

h3.sentence {
  font-family: 'Muli', sans-serif;
}

em {
  font-family: 'Muli', sans-serif;
}

body {
   padding-bottom: 15px;
  //  font-family: 'Vollkorn', serif;
  font-family: 'Muli', sans-serif;
}

#body-info {
   border: 1px solid #021a40;
}

#brand-logo {
   height: 53px;
   width: 70px;
   margin: 0;
   padding: 0;
}

#logout-button {
   display: block;
   color: white;
   text-align: center;
   padding: 16px;
   font-size: 1.8em;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

#register-link {
    padding: 0;
}


#logoutButton {
   font-size: 16px;
   display: block;
   color: black;
   text-align: center;
   padding: 16px;
   background: none;
   border: none;
}

#logoutButton:hover {
   background-color: #808080;
}


#homeLogin {
  position: 0;
  margin: auto;
  padding: 15px;
  background-color: lightblue;
  border: 2px solid black;
  margin-top: 100px;
  float: right;
  width: 20%;
}


.summary-blurb {
  margin-left: 40px;
  min-width: 70%;
  float: left;
}

.footer {
     position: 0;
     display: table;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     height: 30px;
     padding-top: 10px;
     border-top-width: 5px;
     border-top-style: solid;
     border-top-color: #FFF;
}

.footer-bar {
   list-style-type: none;
   margin: 20px 0 0 0;
   padding: 0;
   color: #D3D3D3;
   text-decoration: none;
}

.footer-bar li {
   display: inline-block;
   font-size: 1.5em;
   padding-left: 15px;
}

.footer-bar li a {
   color: #D3D3D3;
}
