/*
 //= require_self
 //= require_tree .
*/

 @import "bootstrap-sprockets";
 @import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}

h3.sentence {
  font-family: 'Muli', sans-serif;
}

em {
  font-family: 'Muli', sans-serif;
}

body {
  padding-bottom: 15px;
  font-family: 'Muli', sans-serif;
  background-color: dodgerblue;
  background-repeat: none;
  // background: url("/assets/chalkboard_4.jpg");
}

#nb {
  box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
  background-color: rgba(0, 0, 0, 0.22);
}

a {
  color: oldlace;
}

.nav {
  font-size: 0.875em;
}

.collapse {
  background-color: #f2f2f2;
}


.navbar-buttons {
   display: block;
   text-align: center;
   padding: 16px;
   font-size: 1.5em;
   text-decoration: none;
   text-align: center;
   margin: 0 0 3 0;
   padding: 0;
   &:hover {
  background-color: #D0D0D0;
   }
}


.navbar-links {
   font-size: 1.0em;
   vertical-align: center;
   display: block;
   color: #808080;
   padding: 16px;
   background: none;
   border: none;
   &:hover{
     color: white;
   }
}

.header {
  font-size: 250%;
}

.logout-button {
  font-size: 1.0em;
  line-height: 32px;
  vertical-align: center;
  display: block;
  color: #808080;
  padding: 16px;
  background: none;
  border: none;
  &:hover{
    color: white;
  }
}

#dashboard-link {
  padding-top: 22.5px;
}

.navbar-title {
  display: inline-block;
}
