.show-page-body {
  width: 870px;
  float: left;
  padding-left: 30px;
}
//
.show-page-container {
  width: 1200px;
  background: url("/assets/chalkboard_4.jpg") no-repeat bottom center scroll;
  background-color: white;

}
.tab-content {
  display: none;
}

.show-page-body h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.tab-content .active {
  display: block;
}

.tabs {
  // border: black 1px solid;
    font-family: 'Muli', sans-serif;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
    box-sizing: border-box;
    color: white;
    // height: 50px;
    // display: inline-block;
    padding: 0px;
    margin-top: 10px;
}

.tabs li {
    // border: black 1px solid;

    float: left;
    // margin: 0px;
    // display: inline-block;

    padding: 10px 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    max-width: 20%;
    margin-bottom: 3px;
}

.tabs li a {
    color: white;
    text-decoration: none;
    font-size: 90%;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 10px;
}

.tabs li.active a {
    color: #42DCA3;
    text-decoration: none;
    border-bottom: none;
}

th {
  text-align: center;
  // margin-left: 0px;
}

td {
  text-align: center;
  // padding-left: 15px;
}

.add-cohort-submit {
  border-radius: 0px;
}

.add-cohort-form {
  margin-top: 5px;
  vertical-align: middle;
}

.cohort-form-input {
  height: 34px;
  margin-left: 3px;
  vertical-align: middle;
}

.errors {
  color: #ff1a1a
}

.loading-container {
  text-align: center;
}

.hidden {
  display: none;
}

.btn-info, .btn-info:hover, .btn-info:active {
  background-color: #42DCA3;
  border: white;
}

label {
  margin-right: 5px;
}
