.show-page-body {
  max-width: 900px;
  float: left;
  padding-left: 30px;
}

.show-page-container {
  max-width: 1300px;
  // font-size: 1.5em;
  background: url("/assets/chalkboard_4.jpg") no-repeat bottom center scroll;
  background-color: white;
}

.tab-content {
  display: none;
}

.show-page-body h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.tab-content .active {
  display: block;
}

.tabs {
  // border: black 1px solid;
    font-family: 'Muli', sans-serif;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
    box-sizing: border-box;
    color: white;
    // height: 50px;
    // display: inline-block;
    padding: 0px;
    margin-top: 10px;
}

.tabs li {
    // border: black 1px solid;

    float: left;
    // margin: 0px;
    // display: inline-block;

    padding: 10px 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    max-width: 20%;
    // vertical-align: center;
    // margin-bottom: 3px;
}

.tabs li a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    position: relative;
    bottom: 10px;
    // vertical-align: center
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 10px;
    background: white;
}

.tabs li.active a {
    color: #42DCA3;
    text-decoration: none;
    border-bottom: none;
}

th {
  text-align: center;
  // margin-left: 0px;
}

td {
  text-align: center;
  // padding-left: 15px;
}

.add-cohort-submit {
  border-radius: 0px;
}

.add-cohort-form {
  margin-top: 5px;
  vertical-align: middle;
}

.cohort-form-input {
  height: 34px;
  margin-left: 3px;
  vertical-align: middle;
}

.errors {
  color: #ff4f00
}

.loading-container {
  margin-top: 20px;
  text-align: center;
  // opacity: 0.1
}

.hidden {
  display: none;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #42DCA3;
  border: white;
  box-shadow: none;
}

.loading-gif {
  border-radius: 20px;
  border: black 2px solid;
}

label {
  margin-right: 5px;
}

input {
  color: black;
}
