.show-page-body {
  width: 870px;
  float: left;
  padding-left: 30px;
}
//
.show-page-container {
  width: 1200px;
}
.tab-content {
  display: none;
}

.tab-content .active {
  display: block;
}

.tabs {
  // border: black 1px solid;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
    box-sizing: border-box;
    // height: 50px;
    // display: inline-block;
    padding: 0px;
    margin-top: 10px;
}

.tabs li {
    // border: black 1px solid;

    float: left;
    // margin: 0px;
    // display: inline-block;

    padding: 10px 10px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    max-width: 20%;
    margin-bottom: 3px;
}

.tabs li a {
    color: #666;
    text-decoration: none;
    font-size: 90%;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 10px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

th {
  text-align: left;
  margin-left: 0px;
}

.add-cohort-submit {
  // height: 26px;
  border-radius: 0px;
  // padding-bottom: -15px;
  // padding-top: -10px;
  // height: 26px;
}

.add-cohort-form {
  margin-top: 5px;
  vertical-align: middle;
  // height: 26px;
}

.cohort-access-code {
  height: 34px;
  margin-left: 3px;
  vertical-align: middle;
}
