#homeWrap {
  background-color: rgba(0, 0, 0, .5);
  height: 500px;
  top: 0px;
  position: absolute;
  width: 90%;
  margin: 5%;
  padding: 2%;
  color: oldlace;
  box-shadow: 10px 10px 31px 1px rgba(0,0,0,0.75);
}

#homeBanner {
  width: 400px;
  font-size: 20px;
  li {
    margin: 10px;
    padding: 10px;
  }
}


#homeLogin {
  position: absolute;
  right: 30px;
  top: 30px;
  margin: auto;
  padding: 15px;
  background-color: lightblue;
  width: 20%;
  height: 300px;
  color: #222222;
  box-shadow: 5px 5px 31px 1px rgba(0,0,0,0.75);

  label {
    width: 100px;
  }
  input[type="text"],   input[type="password"]{
    width: 200px;
  }
}

#homeReg {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: lightblue;
  width: 20%;
  height: 100px;
  text-align: center;
  text-decoration: underline;
  // border-radius: 10px;
  box-shadow: 5px 5px 31px 1px rgba(0,0,0,0.75);
  padding: 20px;
  a:hover {
    color: limegreen;
  }
  a {
    color: #222222;
  }
}
