#homeWrap {
  background-color: rgba(0, 0, 0, .5);
  height: 500px;
  top: 0px;
  position: absolute;
  width: 90%;
  margin: 5%;
  padding: 2%;
  color: oldlace;

}




#homeLogin {
  position: absolute;
  right: 30px;
  top: 30px;
  margin: auto;
  padding: 15px;
  background-color: lightblue;
  border: 2px solid black;
  width: 20%;
  height: 150px;
  color: #222222;
  .txtIn {
    float: right;
    margin: 5px;
  }
  .txtLbl {
    float: left;
    margin: 5px;
  }
}

#homeReg {
  position: absolute;
  right: 30px;
  top: 200px;
  background-color: lightblue;
  width: 20%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  a {
    color: #222222;
  }
}
