#add-cohort-submit {
  // height: 26px;
  border-radius: 0px;
  // padding-bottom: -15px;
  // padding-top: -10px;
  // height: 26px;
}

#add-cohort-form {
  margin-top: 5px;
  vertical-align: middle;
  // height: 26px;
}

#cohort-access-code {
  height: 34px;
  margin-left: 3px;
  vertical-align: middle;
}
