<!DOCTYPE html>
<html>
  <head>
    <title>GrammarNextgen</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    <footer className="footer">
      <ul className="footer-bar">
        <li> &#169;2016 Framework</li>
        <li><a href="mailto:someone@example.com">Contact Us</a></li>
        <li><a href="/">Careers</li>
        <li><a href="/">About</li>
      </ul>
    </footer>
  </body>
</html>
